@*@model IEnumerable<CandyStore.Models.Candy>*@
@*@model CandyStore.ViewModels.CandyListViewModel*@
@model CandyListViewModel

        @*<h1>@ViewBag.CurrentCategory</h1>*@
        <h1>@Model.CurrentCategory</h1>
        @*@foreach (var candy in Model)*@
        @foreach(var candy in Model.Candies)
        {
            <partial name="_candyCard" model="candy" />
        }

